<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaEodamPdUHZsE7JBroKwdmaWwr3CGikw</string>
	<key>GCM_SENDER_ID</key>
	<string>967642646799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prothes.emailauthwithfirebase</string>
	<key>PROJECT_ID</key>
	<string>email-authentication-projects</string>
	<key>STORAGE_BUCKET</key>
	<string>email-authentication-projects.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967642646799:ios:afbcbf30c55cc89956167a</string>
</dict>
</plist>